#body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(178,0,185,1) 100%);
    overflow-x: hidden;
}

#logo {
    width: 30%;
}

#button {
    width: 100%;
    background: rgb(192, 113, 248);
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

#button2 {
    width: 100%;
    height: 100px;
    background: rgb(192, 113, 248);
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

.hidden {
    display: flex; 
    flex-direction: column ; 
    margin-top: 90px; 
    justify-content: center; 
    align-items: center;
    opacity: 0; 
    width: 100%;
    position: relative;
    left: 30vw;
    transition: all 1s;
}

.hidden2 {
    display: flex; 
    flex-direction: column ; 
    margin-top: 90px; 
    justify-content: center; 
    align-items: center;
    opacity: 0;
    margin-right: 999px;
    transition: all 2s;
}

.show {
    display: flex; 
    flex-direction: column ; 
    margin-top: 90px; 
    justify-content: center; 
    align-items: center;
    opacity: 1;
    left: 0vw;
    margin-right: 0vw;
}

.picture { 
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
}

.picture2 { 
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
}

.reviews {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
}

.review {
    color: rgb(255, 159, 70);
    background: rgba(19, 0, 232, 0.7);
    width: 30vw;
    height: 50vh;
    margin: 10px;
    border-radius: 6px;
    overflow: scroll;
}

.review:nth-child(2){
    transition-delay: 200ms;
}

.review:nth-child(3){
    transition-delay: 400ms;
}