#body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(178,0,185,1) 100%);
    overflow-x: hidden;
}

#logo {
    width: 30%;
}

.button {
    width: 100%;
    background: rgb(192, 113, 248);
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

.button1 {
    height: 100px;
}

.hidden {
    display: flex; 
    flex-direction: column ; 
    margin-top: 90px; 
    justify-content: center; 
    align-items: center;
    opacity: 0; 
    width: 100%;
    position: relative;
    transition: all 1.5s;
    max-width: 70vw;
}

.hidden1{
    left: 30vw;
}

.hidden2 {
    left: -30vw;
}

.show {
    display: flex; 
    flex-direction: column ; 
    margin-top: 90px; 
    justify-content: center; 
    align-items: center;
    opacity: 1;
    left: 0vw;
}

.picture { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
}

.reviews {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.review {
    color: rgb(70, 126, 255);
    background: rgba(19, 0, 232, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 420px;
    min-height: 400px;
    width: 420px;
    height: 400px;
    margin: 10px;
    border-radius: 6px;
    overflow: scroll;
}

.title {
    font-family: Dela Gothic One;
    font-size: 40px;
    font-style: normal;
    justify-content: center;
    text-align: center;
}

.title2 {
    font-family: "Indie Flower";
}

.text {
    margin-top: 30px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}