#avatar2 {
    vertical-align: center;
    width:  40px;
    height: 40px;
    border-radius: 50%;
}

@media (width <= 768px){
    #usernameMessage {
        display: flex;  
        color: white; 
        margin-top: 20px; 
        flex-direction: column
    }

    #friendMessage {
        display: flex;  
        color: white; 
        margin-top: 20px; 
        flex-direction: column
    }

    #usernamePictureAndName {
        display: flex; 
        flex-direction: column;
        align-items: flex-end;
    }
    
    #friendPictureAndName {
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (width > 768px){
    #usernameMessage {
        display: flex;  
        color: white; 
        margin-top: 20px; 
        flex-direction: row-reverse
    }

    #friendMessage {
        display: flex;  
        color: white; 
        margin-top: 20px; 
        flex-direction: row
    }

    #usernamePictureAndName {
        display: flex; 
        flex-direction: column;
        align-items: flex-end;
    }
    
    #friendPictureAndName {
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
    }
}

#usernameMessageText {
    margin-top: 20px; 
    text-align: justify;  
    border-radius: 6px; 
    padding: 10px; 
    margin-right : 20px; 
    background-color: rgb(110, 179, 124);
}

#friendMessageText {
    margin-top: 20px; 
    text-align: justify;  
    border-radius: 6px; 
    padding: 10px; 
    margin-left : 20px; 
    background-color: rgb(238, 157, 16);
}