#body {
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(178,0,185,1) 100%);
    overflow: hidden;
}

#logo {
    position: absolute;
    width: 30%;
    bottom: 0;
    z-index: 0;
}

#chatBox {
    display: none;
    position: relative;
    margin-top: 20px;
    text-align: center;
    z-index: 1;
}

#joinRoom {
    margin-top: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
    width: 85%;
    height: 90vh;
}

#inputRoom {
    width: 75%;
    max-width: 100%;
    height: 40px;
    border-radius: 6px;
}

#buttonJoinRoom {
    width: 100px;
    height: 40px;
    background: rgb(192, 113, 248);
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 6px;
    padding: 8px;
}