#body {
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(178,0,185,1) 100%);
}

#logo {
    position: absolute;
    width: 30%;
    bottom: 0;
    z-index: 0;
}

#menu {
    padding-left: 0px;
}

#menu:hover {
    width: 50vw;
    height: max-content;
    min-height: 100%;
    position: absolute;
    z-index: 1;
}

#menuicon {
    width: 90px;
    position: absolute;
    top: 30px;
    left: 10px;
}

#menu:hover #menuicon{
    width: 0px;
}

#desplegable {
    width: 0vw;
    height: max-content;
    min-height: 100%;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    overflow: scroll;
}

#menu:hover #desplegable{
    width: 50vw;
    background: linear-gradient(90deg, rgb(21, 6, 186) 0%, rgb(6, 101, 253) 51%, rgb(255, 255, 255) 100%);
    color: white;
    visibility: visible;
    position: absolute;
    z-index: 0;
    transition: 1s;
}

#chat {
    background: linear-gradient(90deg, rgba(178,0,185,1) 0%, rgb(223, 53, 235) 51%, rgb(255, 255, 255) 100%);
    border-radius: 4px;
    height: 100px;
}

#chat:hover {
    background:rgb(152, 0, 198);
}

#button {
    width: 100%;
    background: rgb(192, 113, 248);
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

#avatar {
    vertical-align: center;
    width:  90px;
    height: 90px;
    border-radius: 50%;
}