<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--user-scalable=no is key for responsiveness (tablet and phone devices) this property disables zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="style/indexStyle.css">
    <title>Alteria Nimbus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Indie+Flower&family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body id="body" >
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img id="logo" src="img/alterianimbusTransparent.png"></div>
        </div>
        <form method="get">
            <div class="row">
                <div class="col-md-3"><button class="button">Home</button></div>
                <div class="col-md-3"><button formaction="/ranking" class="button">Ranking</button></div>
                <div class="col-md-3"><button formaction="/login" class="button">Login/Sign Up</button></div>
                <div class="col-md-3"><button class="button">About</button></div>
            </div>
        </form>
    </div>

    <div class="container" style="margin-top: 90px;">
        <form method="get">
            <div class="row">
                <div class="col-md-6"><button formaction="/random" class="button button1">Random Chat</button></div>
                <div class="col-md-6"><button formaction="/rooms" class="button button1">Rooms Chat</button></div>
            </div>
        </form>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="hidden hidden2">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <div class="title">Meet random people, make friends and have fun!</div>
                <div class="text">Try our free online chat to connect with people all around the world, find common interests you may have with them and add your own friends to stay in touch!</div>
            </div>
            <img src="img/hidden1.png" alt="" style="max-width: 70vw; max-height: 70vh;">
        </div>
        <div class="hidden hidden1">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <div class="title">The alternative to all chat services</div>
                <div class="text">Explore our new and interactive web page: from rooms that connect you with loads of people to private and more intimate chats. Add as many friends as you want, build meaningful friendships or long-lasting relationships.</div>
            </div>
            <img src="img/hidden2.png" alt="" style="max-width: 70vw; max-height: 70vh;">
        </div>
        <div class="hidden hidden2">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <div class="title">Privacy, anonymity and security</div>
                <div class="text">Your safety is a priority. Data processing here is different than other chat apps. We don't share your private information with third parties and measures can be taken to keep the chats clean if needed</div>
            </div>
            <img src="img/hidden3.png" alt="" style="max-width: 70vw; max-height: 70vh;">
        </div>
        <div class="hidden hidden1">
            <div>
                <div class="title">AI chatbot: Alter(AI) Nimbus</div>
                <div class="text">Free AI chatbot can help you get answers to your questions. It's easy to try and use, but it can sometimes give you weird answers so don't trust it 100% &#128521. Either way, we're trying to improve our AI services but for now, hope you have fun with it!</div>
            </div>
            <img src="img/hidden4.png" alt="" style="max-width: 70vw; max-height: 70vh;">
        </div>
    </div>

    <div class="title" style="margin-top: 90px; text-align: center;">What are you waiting for? Take a glance!</div>

    <div class="picture">
        <div class="hidden hidden2" style="width: 50vw;">
            <div class="title title2">Chat with random strangers</div>
            <div class="text">Add interests, find people with similar interests and hobbies, join rooms, meet groups of people, share meaningful text messages, fun conversations and much more. It's that easy and free!</div>
        </div>
        <img class="hidden hidden1" src="img/index1.png" alt="" style="max-width: 50vw;">
    </div>
    <div class="picture">
        <img class="hidden hidden2" src="img/index2.png" alt="" style="width: 50vw;">
        <div class="hidden hidden1" style="max-width: 50vw;">
            <div class="title title2">Set up your own profile and compete with other users</div>
            <div class="text">We appreciate the time you spend here. Check out the ranking based on your personal stats (time you spend, number of friends...) and stay tuned for rewards!</div>
        </div>
    </div>
    <div class="picture">
        <div class="hidden hidden2" style="width: 50vw;">
            <div class="title title2">Alter AI Nimbus</div>
            <div class="text">Try me out!</div>
        </div>
        <img class="hidden hidden1" src="img/index3.png" alt="" style="max-width: 50vw;">
    </div>

    <div class="title" style="margin-top: 60px;">Reviews:</div>
    <div class="reviews row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        <div class="review hidden hidden1" style="background-image: url('img/bocadillo.png'); background-repeat: no-repeat; background-size: contain;">
            <div class="text" style="width: 350px; margin: 30px;">I loved the idea of having chat rooms and at the same time the possibility of talking to a random stranger. No need to sign up or log in. The web page design is pretty cool too</div>
        </div>
        <div class="review hidden hidden2" style="background-image: url('img/bocadillo2.png'); background-repeat: no-repeat; background-size: contain;">
            <div class="text" style="width: 350px; margin: 30px;">I set up my own profile and shared my username with a few friends and now we use this to chat. We all like the idea of keeping our chats and data safe, which big chat apps don't do</div>
        </div>
        <div class="review hidden hidden1" style="background-image: url('img/bocadillo.png'); background-repeat: no-repeat; background-size: contain;">
            <div class="text" style="width: 350px; margin: 30px;">Even though the AI chat takes a little while to load and the answers are simple, I find that a great initiative and I'm pretty impressed about how complete this chat service is. I also tried the rooms and random chat, I think it's great for meeting random strangers. Definitely the web chat apps have a new competitor</div>
        </div>
        <div class="review hidden hidden2" style="background-image: url('img/bocadillo2.png'); background-repeat: no-repeat; background-size: contain;">
            <div class="text" style="width: 350px; margin: 30px;">This is such a great app. Especially for shy people like me who struggle to make friends. Meeting people was never this easy!</div>
        </div>
    </div>

    <button id="google-signin-btn">Iniciar sesión con Google</button>

    <!--DATABASE-->
    <!--Username: victorgarciallorente20-->
    <!--Password: oGMeQ2nBfc2JiGBN-->
    <!--mongodb+srv://victorgarciallorente20:oGMeQ2nBfc2JiGBN@cluster0.xi3nezk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0-->

    <script type="module">
        const socket = io()
    </script>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-analytics.js";
        import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-auth.js"
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyBSplSIL3OWKWhxHRgYCVasD5xYxvRDOIA",
            authDomain: "alteria-nimbus.firebaseapp.com",
            projectId: "alteria-nimbus",
            storageBucket: "alteria-nimbus.firebasestorage.app",
            messagingSenderId: "635680300163",
            appId: "1:635680300163:web:9400faa4e6b32a96464fb6",
            measurementId: "G-T2PZJFKS5S"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const auth = getAuth(app)

        const googleProvider = new GoogleAuthProvider();

        document.getElementById('google-signin-btn').addEventListener('click', () => {
            signInWithPopup(auth, googleProvider)
            .then((result) => {
                // El usuario ha iniciado sesión correctamente
                const user = result.user;
                console.log('Usuario autenticado: ', user);
            })
            .catch((error) => {
                // Manejo de errores
                console.error('Error en el inicio de sesión con Google: ', error);
            });
        });


        /*
        //Haciendo npm install firebase
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "firebase/app";
        import { getAnalytics } from "firebase/analytics";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyBSplSIL3OWKWhxHRgYCVasD5xYxvRDOIA",
          authDomain: "alteria-nimbus.firebaseapp.com",
          projectId: "alteria-nimbus",
          storageBucket: "alteria-nimbus.firebasestorage.app",
          messagingSenderId: "635680300163",
          appId: "1:635680300163:web:9400faa4e6b32a96464fb6",
          measurementId: "G-T2PZJFKS5S"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        */

        /*
        //Para etiqueta <script> en la parte inferior de la etiqueta body
        <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyBSplSIL3OWKWhxHRgYCVasD5xYxvRDOIA",
            authDomain: "alteria-nimbus.firebaseapp.com",
            projectId: "alteria-nimbus",
            storageBucket: "alteria-nimbus.firebasestorage.app",
            messagingSenderId: "635680300163",
            appId: "1:635680300163:web:9400faa4e6b32a96464fb6",
            measurementId: "G-T2PZJFKS5S"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        */
    </script>

    <script> 
         // This prevents the page from scrolling down to where it was previously.
        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
        // This is needed if the user scrolls down during page load and you want to make sure the page is scrolled to the top once it's fully loaded. This has Cross-browser support.
        window.scrollTo(0,0);

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry)
                if(entry.isIntersecting){
                    entry.target.classList.add('show')
                } /*else {
                    entry.target.classList.remove('show')
                }*/
            })
        })

        const hiddenElements = document.querySelectorAll('.hidden')
        hiddenElements.forEach((elem) => observer.observe(elem))

        const hiddenElements2 = document.querySelectorAll('.hidden2')
        hiddenElements2.forEach((elem) => observer.observe(elem))
    </script>

</body>
</html>